<app-navbar></app-navbar>


<img class="fondo" src="../../assets/ciu1.jpg">


<div class="container col-xl-10 col-xxl-8 px-4 py-0">
    <br/>
    <h3 class="display-4 fw-bold lh-1 mb-3 text-center">Ciudadela de la Alegría
           
    </h3>
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
 

            <img src="../../assets/11.jpeg" width="100%">

            <p class="col-lg-12 fs-4">Cali Juega te invita este 4 de septiembre del
                2022 a celebrar la
                “Ciudadela de la Alegría” en el complejo
                deportivo Ciudadela Panamericana, mejor
                conocido como “Canchas Panamericanas”;
                macro evento que te permitirá disfrutar de
                más de 30 estaciones de juego, recreación,
                actividad física y deporte a lo largo del
                complejo deportivo.

                Contaremos con juegos de feria, Ludomóvil,
                actividades lúdicas, artísticas y recreativas,
                juegos de roles, tienda de dulces, tierra de
                gigantes y mucha diversión de manera
                gratuita.
            </p>

    
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" action="">
                <h2>REGISTRARSE</h2>
                <H3>Datos del Asistente (Menor de edad)</H3>

                <div class="form-floating mb-3">
                    <input class="form-control" name="nombreA" id="nombreA" [(ngModel)]="nuevoUsuario.nombreA"
                        placeholder="nombre" required>
                    <label for="floatingPassword">Nombre Completo</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" name="identificacionA" id="identificacionA"
                        [(ngModel)]="nuevoUsuario.identificacionA" placeholder="Documento de identidad" required>
                    <label for="floatingPassword">Documento de identidad
                    </label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" name="edadA" id="edadA" [(ngModel)]="nuevoUsuario.edadA"
                        placeholder="edadA" required>
                    <label for="floatingPassword">Edad</label>
                </div>


                <div class="form-floating mb-3">

                    <select class="form-select" aria-label="Default select example" [(ngModel)]="nuevoUsuario.generoA"
                        id="generoA" placeholder="generoA" name="generoA">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                    <label for="floatingInput">Género</label>

                </div>

                <div class="form-floating mb-3">

                    <select class="form-select" aria-label="Default select example" [(ngModel)]="nuevoUsuario.etniaA"
                        id="etniaA" placeholder="etniaA" name="etniaA">
                        <option value="Afrocolombiano">Afrocolombiano</option>
                        <option value="Indígena">Indígena</option>
                        <option value="Palenquero">Palenquero/a</option>
                        <option value="Romaní gitano">Romaní (ROM)/ gitano</option>
                        <option value="Raizal">Raizal</option>
                        <option value="Ninguno">Ninguno</option>
                        <option value="NS NR">NS/NR</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <label for="floatingInput">Etnia</label>

                    <br>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="celularA" id="celularA" [(ngModel)]="nuevoUsuario.celularA"
                            placeholder="celularA" required>
                        <label for="floatingPassword">Célular</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="correoA" id="correoA" [(ngModel)]="nuevoUsuario.correoA"
                            placeholder="correoA" required>
                        <label for="floatingPassword">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="comunaA" id="comunaA" [(ngModel)]="nuevoUsuario.comunaA"
                            placeholder="comunaA" required>
                        <label for="floatingPassword">Comuna</label>
                    </div>
                    <h3>Datos del acompañante (mayor de edad)</h3>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="nombreb" id="nombreb" [(ngModel)]="nuevoUsuario.nombreb"
                            placeholder="nombreb" required>
                        <label for="floatingPassword">Nombre Completo </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="identificacionB" id="identificacionB"
                            [(ngModel)]="nuevoUsuario.identificacionB" placeholder="identificacionB" required>
                        <label for="floatingPassword">Documento de Identidad</label>
                    </div>
                    <div class="form-floating mb-3">

                        <select class="form-select" aria-label="Default select example"
                            [(ngModel)]="nuevoUsuario.laborB" id="laborB" placeholder="laborB" name="laborB">
                            <option value="Si">sí</option>
                            <option value="No">no</option>
                        </select>
                        <label for="floatingInput">el Acompañante Pertenece a la SDR </label>

                    </div>
                    <br>

            
                    <div class="checkbox mb-3">
                        <label>
                            <a href="https://caliciudaddeportiva.com/terminos">Términos y condiciones</a>
                            <br>
                            <input type="checkbox" [(ngModel)]="terminos" value="terminos" name="terminos" id="terminos">
                            Aceptas términos y
                            condiciones
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" (click)="crearUsuario()"
                        type="submit">Inscribirte</button>
                    <hr class="my-4">
                    <small >Al registrarse nos estaremos comunicando via whatsapp.</small>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="b-example-divider"></div>




<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">


            <img class="rounded-lg-3" src="../../assets/9.webp" width="100%">



        </div>
        <div class="col-lg-4 offset-lg-1 p-0 ">
            <h1 class="display-4 fw-bold lh-1">Ciudadela De La Alegria</h1>
            <p class="lead">Lugar: Canchas Panamericanas, entrada por
                el Kilómetro 0 del Deporte (Carrera 39)
                Dirección: Calle 9 # 37-00
                Horario: 1:00 pm a 6:00 pm</p>


                <p> + Inscripción sujeta a garantizar el aforo de 5000 niños.</p>
            
                <p>  + Todos los menores de edad (-18) deben
                ingresar con un adulto responsable.</p>
                
            
                <p>   + Todos los participantes deben contar con
                kit de bioseguridad (tapabocas y alcohol)</p>

                <p>   + Trae tu termo para tu hidratación, así
                evitamos contagios y ayudamos al planeta</p>

        </div>
    </div>
</div>




<app-footer></app-footer>
