<app-navbar></app-navbar>

<div class="d-flex h-100 text-center text-white fondo">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
        <main class="px-3">
            <br /> <br /> <br /> <br /> <br /> <br />
            <img src="../../assets/Recurso 5.png" width="100%">
            <br /> <br /> <br />
            <h1 class="text-black"> Proximamente más Eventos</h1>
            <br /> <br /> <br />
            <a href="Ciudadela" class="btn btn-lg btn-secondary fw-bold border-white bg-ama">Eventos</a>
        </main>
        <footer class="mt-auto text-white-90">
            <p class="text-black">Conéctate con <a href="https://CaliCiudadDeportiva.com"
                    class="text-black">#CaliCiudadDeportiva</a>
        </footer>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Eventos</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        
        <div class="col">

            
            <a href="/Ciudadela">


                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('../../assets/8.webp');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">

                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Voleibol">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('../../assets/V1.webp');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                        </h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">

                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">

            <a href="/Futbol">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('../../assets/F3.webp');" src>
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <!-- Grid container                        <img src="../../assets/BgCarrera_2.webp" alt="Bootstrap" width="50" height="50"
                                    class="rounded-circle border border-white" href="">   -->
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <!--      <small>#CaliCiudadDeportiva</small>-->
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

                                <!--      <small>#CaliCiudadDeportiva</small>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Lugares</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        
        <div class="col">

            
            <a href="/Ciudadela">


                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('../../assets/8.webp');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">

                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Voleybol">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('../../assets/V1.webp');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                        </h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">

                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">

            <a href="/Futbol">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('../../assets/1.webp');" src>
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                Grid container                        <img src="../../assets/BgCarrera_2.webp" alt="Bootstrap" width="50" height="50"
                                    class="rounded-circle border border-white" href="">   
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                     <small>#CaliCiudadDeportiva</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


-->


<app-footer></app-footer>