<app-navbar></app-navbar>


<img class="fondo" src="../../assets/F1.webp">


<div class="container col-xl-10 col-xxl-8 px-4 py-0">
    <br />
    <h3 class="display-4 fw-bold lh-1 mb-3 text-center">Fecha FIFA Fútbol Femenino

    </h3>
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">


            <img src="../../assets/F2.webp" width="100%">



        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" action="">
                <h2>REGISTRARSE</h2>
                <br>
                <div class="form-floating mb-3">

                    <select class="form-select" aria-label="Default select example"
                        [(ngModel)]="nuevoUsuario.identificacionB" id="identificacionB" placeholder="identificacionB"
                        name="identificacionB">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>


                    </select>
                    <label for="floatingInput">Cantidad de boletas</label>

                </div>
                

                <div class="form-floating mb-3">
                    <input class="form-control" name="nombreA" id="nombreA" [(ngModel)]="nuevoUsuario.nombreA"
                        placeholder="nombre" required>
                    <label for="floatingPassword">Nombre Completo</label>
                </div>


                <div class="form-floating mb-3">
                    <input class="form-control" name="identificacionA" id="identificacionA"
                        [(ngModel)]="nuevoUsuario.identificacionA" placeholder="Documento de identidad" required>
                    <label for="floatingPassword">Documento de identidad
                    </label>
                </div>


                <div class="form-floating mb-3">

                    <select class="form-select" aria-label="Default select example" [(ngModel)]="nuevoUsuario.generoA"
                        id="generoA" placeholder="generoA" name="generoA">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                    <label for="floatingInput">Género</label>

                </div>

                <div class="form-floating mb-3">

                    <div class="form-floating mb-3">
                        <input class="form-control" name="celularA" id="celularA" [(ngModel)]="nuevoUsuario.celularA"
                            placeholder="celularA" required>
                        <label for="floatingPassword">Celular</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="correoA" id="correoA" [(ngModel)]="nuevoUsuario.correoA"
                            placeholder="correoA" required>
                        <label for="floatingPassword">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="comunaA" id="comunaA" [(ngModel)]="nuevoUsuario.comunaA"
                            placeholder="comunaA" required>
                        <label for="floatingPassword">Comuna</label>
                    </div>




                    <div class="checkbox mb-3">
                        <label>
                            <a href="https://caliciudaddeportiva.com/terminos">Términos y Condiciones</a>
                            <br>
                            <input type="checkbox" [(ngModel)]="terminos" value="terminos" name="terminos"
                                id="terminos">
                            Aceptas términos y
                            condiciones
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" (click)="crearUsuario()"
                        type="submit">Inscribirte</button>
                    <hr class="my-4">
                    <p>Al registrarte nos estaremos comunicando contigo vía WhatsApp para enviarte las boletas.</p>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="b-example-divider"></div>




<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">


            <img class="rounded-lg-3" src="../../assets/F3.webp" width="100%">



        </div>
        <div class="col-lg-4 offset-lg-1 p-0 ">
            <h1 class="display-4 fw-bold lh-1">Fifa Fútbol Femenino</h1>
            <p class="lead">La selección Colombia vuelve a Cali Ciudad Deportiva el martes 6 de septiembre en el estadio
                Pascual Guerrero, donde abre sus puertas para el partido entre Colombia y Costarica obten tus boletas
                totalmente gratis inscribiéndote</p>


        </div>
    </div>
</div>




<app-footer></app-footer>